#weather {
    display: none;
}

#current-weather {
    display: flex;
}

#main-icon {
    flex: 1;
    max-width: 55%;
    height: auto;
}

#weather-icon {
    width: 100%;
}

#current-date {
    font-weight: 600;
    display: flex;
    justify-content: start;
    /* padding-left: 5px; */
}

#info-city {
    flex: 1;
    padding: 30px 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#unit {
    display: flex;
    justify-content: start;   
}

@media screen and (max-width: 430px){
    #unit {
        flex-direction: column; 
    }
}

#info-temp {
    display: flex;
}

#info-temp > p {
    font-size: 25px;
    margin-top: 0.2em;
}

#temp {
    font-size: 50px;
    font-weight: 600;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px 0;
    margin-left: 2%;
}

@media screen and (max-width: 430px){
    #details {
        padding: 0;
    }
}

#details div {
    font-size: 12px;
    display: flex;
}

@media screen and (max-width: 400px){
    #details div {
        font-size: 10px;
    }
}

#details div p:nth-child(1) {
    /* width: 63px; */
    text-align: start;
    margin-right: 0.3em;
}

#details div p:nth-child(2) {
    /* width: 47px; */
    text-align: start;
}


/* #humidity, #wind {
    font-size: 10px;
} */

#name {
    /* padding-left: 5px; */
    padding-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2em;
    font-weight: 100;
}