#other-days {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3px;
    
}

@media screen and (max-width: 430px){
    #other-days {
        /* grid-template-columns: repeat(1, 1fr);
        gap: 1px; */
    }

    #day5 {
        display: none;
    }
}

.day-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    height: 50px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    /* font-size: 15px; */
}

.day-card div {
    display: flex;
}

h3 { /* headlines from other days */
    width: 50px;
    font-size: 15px;
    font-weight: 600;
    text-align: start;
}

/* h3::after {
    content: '-';
    padding: 0 5px;
} */

h4 { /* date of other days */
    /* padding-top: 0.5em; */
    width: 50px;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}

.icon-day {
    /* width: 80px; */
    height: 100%;
}

.min-max-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.max-temp {
    color: rgb(203, 44, 42)
}

.min-temp {
    color: rgb(42, 101, 203)
}

span {
    padding: 0 8px;
    background: linear-gradient(90deg, rgb(42, 101, 203), rgb(203, 44, 42));
    height: 2px;
    width: 100px;
    margin: 0 10px;
}